/* 폰트 */
/* font 정하기 - family, size */


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}
h1{
    font-weight: 900;
    line-height: 1.3em;
}
h3{
    font-weight: 900;
    font-size: 1em;
    line-height: 1.1em;
}
.noto-serif{
    font-family: "Noto Serif KR", serif;
    font-style: normal;
}
/* a 링크 */
a {
    text-decoration: none;
    color: black;
}
/* 
a:link {
    color: aqua;
}
a:visited {
    color: yellow;
}
a:active {
    color: red;
} 
*/
@media screen and (min-width: 960px) {
    body{
        
        font-size: 1.1em;
        
    }
    h1{
        font-weight: 900;
        font-size: 1.3em;
        line-height: 1.3em;
    }
    h3{
        font-weight: 900;
        font-size: 1.1em;
        line-height: 1.1em;
    }
    header .tnb a{
        padding: 10px 15px;
    }
    header .bnb a{
        padding: 15px 20px;
    }
        
}
