/* ul > li > a >div{
 
    width: ; float: left;
} */
ul > li{
    /* float 해제 */
    clear: both;
    /* float 부모에다가 걸어줌 */
    overflow: hidden;
}
ul > li > a > div:first-child{
    /*  */
    width: 45px; float: left;
}
ul > li > a > div:last-child{
    /*  */
    width: 120px; float: left;
}