<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- layout - 00 필수!!! reset.css -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv_03.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="wrap">
        <header class="wrap-main">
            <h1>제목:회사명,로고,로그인</h1>
        </header>
        <div class="wrap-main wrap-nav">
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </div>
        <div class="wrap-main wrap-content">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh posuere, posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas mollis. Nulla sollicitudin pharetra sem, et finibus ante. Aenean pellentesque tellus sed lectus tincidunt commodo. Nam vehicula sapien ultricies massa rhoncus pellentesque. Aenean viverra mollis interdum. Suspendisse non lacus in erat viverra imperdiet et vel nulla. In feugiat viverra volutpat. Aenean consequat nulla vitae purus pellentesque finibus. Curabitur facilisis lacus quam, ut ultricies ante congue sit amet. Fusce non dignissim urna.
                </article>
                <article>
                    Nam pellentesque nisl sit amet maximus aliquet. Quisque interdum at erat a malesuada. Nam pretium eu velit commodo tincidunt. Vivamus rhoncus, nisi quis commodo congue, est sapien convallis nulla, sit amet tincidunt risus massa ac erat. Sed maximus felis et dictum tempor. Maecenas at hendrerit elit. Donec ultrices dignissim sem, id vulputate elit lobortis id.
                </article>
                <article>
                    Aliquam quis quam eu mi commodo malesuada. Quisque et ipsum nec tortor accumsan hendrerit. Nulla aliquam quam id velit fringilla, eu porttitor purus ornare. Ut vitae vestibulum neque. Integer eget tempor massa. Duis ultrices at diam vitae sodales. Proin ultrices eros vestibulum laoreet fringilla. Vestibulum eget condimentum eros, et elementum lectus. In ut tempus odio. Phasellus sed ultrices risus. Ut dignissim vitae eros eu egestas. Aenean velit leo, vestibulum sit amet justo sit amet, interdum sollicitudin nulla. Integer sodales purus vel egestas aliquet. Suspendisse vestibulum, magna ac molestie congue, justo velit posuere tortor, sed aliquet magna sem vitae purus. Vivamus tempus nulla urna, sed tempor ipsum consectetur et. Vestibulum aliquam ante sit amet feugiat fringilla.
                </article>
            </section>
            <aside>
                <div>
                    광고, 최근본상품, 바로가기링크
                </div>
                <nav>
                    <ul>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer class="wrap-main">
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>