<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventHanddler</title>
</head>
<body>

    <button type= "button" id="btn1" > 버튼1 </button>
    <button type= "button" id="btn2" > 버튼2 </button>
    <!--id와 인라인 이벤트등록 방식 쓰지마세요. 혼선을 줌-->
    <button type= "button" id="btn3" onclick="cbF3();console.log('이것도')"> 버튼3 </button>
   
   
    <form method="get" action="#" id="frm-test">
        <input type = "text" name="n1">
        <button type="submit" onclick="return cbF3()">전달</button>

    </form>
    <table border="1">
        <tbody>
            <tr id="tbl_col">
                <td>컬럼명</td>
                <td>컬럼명</td>
            </tr>
        </tbody>
    </table>





    <script>
        var cbF1 = function(){
            console.log(" 고전방식: 이벤트 발생하여 callback함수가 호출될 수 있음")
        };
        var cbF2 = function(){
            console.log(" 표준방식: 이벤트 발생하여 callback함수가 호출될 수 있음")
        };
        var cbF3 = function(){
            console.log(" 인라인방식: 이벤트 발생하면 따옴표 안의")
            return ture;
        };

        var femEle = document.getElementById("frm-test");
      

var btn1Elem =document.getElementById("btn1");
console.log(btn1Elem);
btn1Elem.onclick = cbF1;
var btn1Elem =document.getElementById("btn2");
btn2Elem.addEventListener("click",cbF2);
var btn3Elem = document.getElementById("btn3");
btn3Elem.onclick =cbF1;

    </script>
</body>
</html>