<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript01</title>
    <script>
        //디버깅 용도로 많이 쓰임
        document.write("안녕");
        document.write("하세요1");
        //화면 공백에서 뿌려짐, 화면이 보여지는 상태에서 뿌려지면 ajax(비동기방식)
        //window.alert("경고문구");
    </script>
</head>

<body>
    <h1 id="id2">JavaScript 처음</h1>
    <h1 class="c2">JavaScript 처음2</h1>
    <h1 class="c2">JavaScript 처음3</h1>

    <script>
        // object집중적
        var a15 = {k1:1, k2:"s"};
        console.log(a15);
        a15.k3 = "a15에 새로 key k3 생성하고 값";
        console.log(a15);
        a15.k2 = "a15에 기존 key k2에 값 바꿈";
        console.log(a15);
        
        a16 = "a16은 앞에 window. 가 생략 됐다 즉 window 객체에 기존 key a16이 없다면 생성, 있었다면 값 바꿈";
        console.log(a16);
        

        // window.alert("window 객체의alert라는 함수/ 메소드를 호출함");
        // alert("window 객체명 생략하고 접근 가능함.");
        window.document.getElementById("id2");
        console.log(typeof(window));


        //자료형
        var a8;//true //222.23 // "sdf" //null(object)
        console.log(typeof (a8)); // undefind 선언, 값없으면
        a8 = false;
        console.log(typeof (a8)); // 대입한 값에 따라서 자료형이 

        var a9 = {
            k1: 123
            , name: "홍길동"
            , gender: "f"
            , score: { kor: 100, eng: 90, Math: 70 }
            , a14: function () {
                console.log("fuction 형태 a14의 값");
                console.log("변수명= 키명a14이 fuction명이 됩니다.");
                console.log(1020 * 382);
                return a9;
            }
        };
        console.log(typeof (a9));
        console.log(a9);
        console.log(a9.k1);
        console.log(a9.score.Math);
        console.log(a9.a14); // a14의 값 = 코드 그자체
        console.log(a9.a14()); // a14 함수실행 + 그 결과 뿌려달라


        //fuction
        //  함수정의
        var a10 = function () {
            console.log("fuction 형태 변수 선언");
            console.log("변수명이 fuction명이 됩니다.");
            console.log(1020 * 382);
            return a9;
        };
        console.log(typeof (a10));
        console.log(a10);
        //함수실행

        a10();
        var all = a10();
        console.log(a10());

        function a12() {
            console.log("function 정의함");
            console.log("자바와 동일한 위치에 함수명이 있습니다.");
            console.log(1020 * 382);
            return 23 * 222;

        }



        //  var a3 = document.getElementById("id2");
        //  console.log(a3);
        //  var a4 = document.getElementsByClassName("c2");
        //  console.log(a4);
        //  var a5 = document.getElementsByName("h1");
        //  console.log(a5);
        //  var a6 = document.querySelector(".c2");
        //  console.log(a6);
        //  var a7 = document.querySelectorAll(".c2");
        //  console.log(a7);

    </script>

    <script>
        //디버깅 용도로 많이 쓰임
        document.write("안녕");
        document.write("하세요2");

        //화면 공백에서 뿌려짐, 화면이 보여지는 상태에서 뿌려지면 ajax(비동기방식)
        //window.alert("경고문구");
        document.getElementsByTagName("h1")[1].innerHTML = '<a href="#"> 바꿈문자1';
        document.getElementsByTagName("h1")[2].innerText = "바꿈문자2";

    </script>
    <script>
        // var a1 = window.prompt("진입할창에 이름을 입력해주세요");
        //document.getElementsByTagName("h1")[0].innerHTML = a1;
        // console.log(a1);

        // var a2 = window.confirm("계속진행하시겠습니다?");
        // console.log(a2);
    </script>
</body>

</html>